/* variables */

:root {

    --primary: #AD3E39; 
    --secondary: #0D1617;
    --background: #b3b2ae; 
    --white: #e9e9e6;
    --light: #c1c1bd;
}

html {
    height: 100vh;
    background-color: var(--background);
    cursor: url(/assets/paw.svg), no-drop;
}

body{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0px;
    color: var(--secondary);
}

header {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3em;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: solid 1px var(--secondary); */
    box-shadow: 0px 8px 16px 0 rgba(21, 21, 21, .16);
    background-color: var(--primary);

    h2{
        text-align: center;
    }
}

section.hero{

    .text-container{
        text-align: center;
        padding: 4em 8em;
    }
}

section.squad{

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    padding: 0px 128px;
    padding-bottom: 128px;

    article{
        display: grid;
        grid-template-areas: 
        "title title"
        "sub-title image";
        background-color: var(--light);
        padding: 16px;
	    transition: all 0.25s ease;

        /* width: 480px; */

        &:hover{
            background-color: var(--secondary);
            color: var(--white);

        }


        h3{
            grid-area: title;
            font-size: x-large;
        }

        h4{
            grid-area: sub-title;
            width: 100%;
            margin-top: auto;
            /* transform: ; */

        }

        img{
            grid-area: image;
            width: 240px;
            margin-left: auto;
            padding: 8px;
            aspect-ratio: 1/1;
            object-fit: cover;

        }
    }
}


/* Amstel campus pagina */