/* variables */

:root {

    --primary: #AD3E39; 
    --secondary: #0D1617;
    --background: #b3b2ae; 
    --white: #e9e9e6;
    --light: #c1c1bd;
}

html {
    height: 100vh;
    background-color: var(--background);
    cursor: url('https://raw.githubusercontent.com/ArmanVD/your-tribe-profile-card/main/sheldon-cursor.png'), no-drop;
}

body{
    position: relative;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    margin: 0px;
    color: var(--secondary);
}

header {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 3em;
    width: 100%;
    box-sizing: border-box;
    /* border-bottom: solid 1px var(--secondary); */
    box-shadow: 0px 8px 16px 0 rgba(21, 21, 21, .16);
    background-color: var(--primary);

    h2{
        text-align: center;
        font-style: italic;
    }
}

.BAZINGA {
    width: 75%;
    height: auto;
    border-radius: 8px;
}

.BT {
    cursor: url('https://raw.githubusercontent.com/ArmanVD/your-tribe-profile-card/main/comic-pointer.png'), auto;
    border-radius: 8px;
    height: 50%;
    width: 50%
    font-family: "Bangers", system-ui;
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;

}

article{
    cursor: url('https://raw.githubusercontent.com/ArmanVD/your-tribe-profile-card/main/comic-pointer.png'), auto;
}

section.hero{

    .text-container{
        text-align: center;
        padding: 4em 8em;
    }
}

section.squad{

    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr;
    gap: 64px;
    padding: 0px 64px;
    padding-bottom: 128px;

    @media only screen and (min-width: 640PX) {
        padding: 0px 128px;
	}

    @media only screen and (min-width: 1080px) {
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
	}

    @media only screen and (min-width: 1920px) {
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
	}

    article{
        display: grid;
        grid-template-areas: 
        "title title"
        "sub-title sub-title"
        "image imge";
        background-color: var(--light);
        padding: 16px;
	    transition: all 0.25s ease;
        overflow: hidden;
        border-radius: 8px;

        @media only screen and (min-width: 640px) {
            grid-template-areas: 
            "title image"
            "sub-title image";

            &:hover{
                background-color: var(--secondary);
                color: var(--white);
    
                h4{
                    transform: translatex(0%);
                }
    
            }
        }

        /* width: 480px; */



        h3{
            grid-area: title;
            font-size: x-large;
        }

        h4{
            grid-area: sub-title;
            width: 100%;
            margin-top: auto;
	        transition: all 0.25s ease;
            transform: translatex(-100%);
        }

        img{
            grid-area: image;
            width: 240px;
            margin-left: auto;
            padding: 8px;
            aspect-ratio: 1/1;
            object-fit: cover;

        }
    }
}


/* Amstel campus pagina */
img.WC_Head {
    width: 1096px;
    height: 686px;
    object-fit: fill;
}